In [2]:
import pandas as pd
import ffn
import datetime

In [3]:
tickers = ['DASH','TSLA','NVDA','INTC','GOOGL','FB','AMZN','AMD','AAPL']

In [4]:
start_date = datetime.date.today() - datetime.timedelta(days=3)

In [5]:
start_date

datetime.date(2021, 3, 19)

In [11]:
prices = ffn.get(tickers, start=start_date)

In [12]:
prices

,dash,tsla,nvda,intc,googl,fb,amzn,amd,aapl
Date,,,,,,,,,
2021-03-19,135.029999,654.869995,513.830017,63.759998,2026.959961,290.109985,3074.959961,79.059998,119.989998
2021-03-22,135.000000,688.359985,528.690002,65.190002,2026.905151,294.579987,3115.685059,80.330002,122.699997

In [19]:
final = prices.pct_change().dropna().iloc[-1].T.reset_index()
final

   index  2021-03-22 00:00:00
0   dash            -0.000222
1   tsla             0.051140
2   nvda             0.028920
3   intc             0.022428
4  googl            -0.000027
5     fb             0.015408
6   amzn             0.013244
7    amd             0.016064
8   aapl             0.022585

In [21]:
final.columns = ['Ticker', 'pct change']
final

  Ticker  pct change
0   dash   -0.000222
1   tsla    0.051140
2   nvda    0.028920
3   intc    0.022428
4  googl   -0.000027
5     fb    0.015408
6   amzn    0.013244
7    amd    0.016064
8   aapl    0.022585

In [22]:
best = final.nlargest(5, 'pct change')
best

  Ticker  pct change
1   tsla    0.051140
2   nvda    0.028920
8   aapl    0.022585
3   intc    0.022428
7    amd    0.016064

In [25]:
worst = final.nsmallest(5, 'pct change')
worst

  Ticker  pct change
0   dash   -0.000222
4  googl   -0.000027
6   amzn    0.013244
5     fb    0.015408
7    amd    0.016064