In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from openbb_terminal.sdk import openbb
from dotenv.main import load_dotenv
import os

In [37]:
load_dotenv()
api_keys = os.environ['FINANCIAL_MODELLIN_KEY']

In [38]:
openbb.keys.fmp(key = api_keys, persist = True)

'Defined, test passed'

In [ ]:
# azn = openbb.stock.load(
#     symbol='AZN',
#     start='2015-01-01',
#     prepost=False,
#     source='YahooFinance',
#     weekly=False,
#     monthly=True,

In [2]:
spy_monthly = openbb.stocks.load(
    symbol = 'SPY',
    start_date = '1990-01-01',
    interval = 1440,
    prepost = False,
    source = 'YahooFinance',
    weekly = False,
    monthly = True,
)
spy_monthly.head()

Loading Monthly data for SPY with starting period 1993-02-01.

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
date,,,,,,,,
1993-02-01,25.140216,25.801331,24.479102,25.390368,25.390368,5417600,0.000,0.0
1993-03-01,25.479706,26.212292,25.283158,25.837065,25.837065,3019200,0.213,0.0
1993-04-01,25.994995,25.994995,24.863997,25.294853,25.294853,2697200,0.000,0.0
1993-05-01,25.330751,26.228368,25.187133,25.977036,25.977036,1808000,0.000,0.0
1993-06-01,26.066795,26.318128,25.402559,25.887272,25.887272,3438000,0.318,0.0

In [3]:
spy_monthly.tail()

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
date,,,,,,,,
2022-12-01,405.354435,407.060065,371.638529,379.234528,379.234528,1735973600,1.781,0.0
2023-01-01,382.908617,406.608176,376.393474,404.934570,404.934570,1575450100,0.000,0.0
2023-02-01,403.669372,416.719571,392.143384,394.753418,394.753418,1603094700,0.000,0.0
2023-03-01,393.906667,408.142346,379.202775,407.833527,407.833527,2515907800,1.506,0.0
2023-04-01,408.850006,415.720001,403.779999,412.410004,412.410004,1304330405,0.000,0.0

In [9]:
# openbb.stocks.candle(data = spy_monthly, symbol = 'SPY - Monthly Candles')

In [12]:
# openbb.stocks.candle('SPY', ma = [50,150])

In [11]:
# openbb.stocks.search(sector = 'Retail', country = 'Chile')

In [7]:
spdr_sectors = ['SPY', 'XLE', 'XLB', 'XLI', 'XLP', 'XLY', 'XLV', 'XLF', 'XLK', 'XLC', 'XLU', 'XLRE']

quotes: object = []
symbols = spdr_sectors
for symbols in spdr_sectors:
    quote = openbb.stocks.quote(symbols).transpose()
    quotes.append(quote)

quotes = pd.concat(quotes)

quotes

API_KEY_FINANCIALMODELINGPREP not defined. Set the API key under keys menu.

AttributeError: 'NoneType' object has no attribute 'transpose'

In [14]:
# filings = openbb.stocks.disc.filings()[0:5]
# filings

,Ticker,CIK,Form Type,Title,URL
Date,,,,,
2023-04-27 17:30:42,NEXA,1713930,6-K,6-K - Nexa Resources S.A. (0001713930) (Filer),https://www.sec.gov/Archives/edgar/data/171393...
2023-04-27 17:29:33,TS,1190723,6-K,6-K - TENARIS SA (0001190723) (Filer),https://www.sec.gov/Archives/edgar/data/119072...
2023-04-27 17:28:26,EVFM,1618835,10-K,"10-K - Evofem Biosciences, Inc. (0001618835) (...",https://www.sec.gov/Archives/edgar/data/161883...
2023-04-27 17:26:51,NEXA,1713930,6-K,6-K - Nexa Resources S.A. (0001713930) (Filer),https://www.sec.gov/Archives/edgar/data/171393...
2023-04-27 17:25:47,AAU,1015647,6-K,6-K - ALMADEN MINERALS LTD (0001015647) (Filer),https://www.sec.gov/Archives/edgar/data/101564...

In [23]:
# The openbb.stocks.fa.analysis function scans 10K SEC filings with NLP to highlight risk factors and 
# notable statements provided by the company.
factors = openbb.stocks.fa.analysis('KNSL')
bad_factors = factors[factors['Good'] == False]
bad_factors

,Group,Good,Sentence
1,Risk factors,False,"As of December 31, 2022, we had $263.4 million..."
2,Risk factors,False,"As of December 31, 2022, we had outstanding bo..."
3,Risk factors,False,"Of our 2022 gross written premiums, 58.5%, or ..."
5,Risk factors,False,We establish loss and loss adjustment expense ...
7,Risk factors,False,The extent of losses from catastrophes is a fu...
20,Discussion and Analysis,False,"During the first three months of 2023, we rece..."
21,Discussion and Analysis,False,35 Table of ContentsDuring the first three mon...

In [26]:
bad_factors['Sentence'].values

array(['As of December 31, 2022, we had $263.4 million of aggregate reinsurance balances on paid and unpaid losses and ceded unearned premiums.',
       'As of December 31, 2022, we had outstanding borrowings of $195.7 million, net of debt issuance costs, in the aggregate under our two bank credit agreements.',
       'Of our 2022 gross written premiums, 58.5%, or $644.6 million, were distributed through five of our approximately 179 brokers, three of which accounted for 45.4%, or $500.0 million, of our 2022 gross written premiums.',
       'We establish loss and loss adjustment expense reserves for the ultimate payment of all claims that have been incurred, and the related costs of adjusting those claims, as of the date of our financial statements.',
       'The extent of losses from catastrophes is a function of the total amount of insured value, the number of insureds affected, the frequency and severity of the events, the effectiveness of our catastrophe risk management program and the adequacy of our reinsurance coverage.',
       'During the first three months of 2023, we received proceeds of $49.2 million from sales of fixed-maturity securities, largely municipal securities and corporate bonds, and $26.1 million from redemptions and maturities of mortgage-and asset-backed securities and corporate bonds.',
       '35 Table of ContentsDuring the first three months of 2022, we received proceeds of $54.2 million from sales of fixed-maturity securities, largely corporate bonds and mortgage-and asset-backed securities, and $37.0 million from redemptions of asset-and mortgage-backed securities and corporate bonds.'],
      dtype=object)

In [28]:
openbb.stocks.fa.key('KNSL')

                                  0
Market capitalization       7.669 B
EBITDA                    202.569 M
EPS                             6.9
PE ratio                       48.0
PEG ratio                      1.77
Price to book ratio            10.2
Return on equity TTM           0.22
Price to sales ratio TTM       8.26
Dividend yield               0.0017
50 day moving average        307.36
Analyst target price            334
Beta                          0.855

In [30]:
openbb.stocks.fa.shrs(symbol = 'KNSL', holder = 'major')

        0                                          1
0   5.50%   Percentage of Shares Held by All Insider
1  88.57%  Percentage of Shares Held by Institutions
2  93.72%   Percentage of Float Held by Institutions
3     517      Number of Institutions Holding Shares

In [29]:
openbb.stocks.fa.shrs(symbol = 'KNSL', holder = 'mutualfund')

,Holder,Shares,Date Reported,Stake,Value
0,Baron Growth Fund,1 M,2022-12-30,4.32 %,336.740 M
1,iShares Core S&P Midcap ETF,671.080 K,2023-02-27,2.90 %,225.979 M
2,Vanguard Total Stock Market Index Fund,668.418 K,2022-12-30,2.89 %,225.083 M
3,Vanguard Small-Cap Index Fund,564.925 K,2022-12-30,2.44 %,190.233 M
4,Baron Small Cap Fund,500 K,2022-12-30,2.16 %,168.370 M
5,iShares Russell 2000 ETF,474.565 K,2023-02-27,2.05 %,159.805 M
6,Thrivent Mid Cap Stock Fund,382.104 K,2023-01-30,1.65 %,128.670 M
7,Vanguard Small-Cap Growth Index Fund,326.258 K,2022-12-30,1.41 %,109.864 M
8,Smallcap World Fund,305.020 K,2022-12-30,1.32 %,102.712 M
9,Vanguard Extended Market Index Fund,292.593 K,2022-12-30,1.26 %,98.528 M

In [31]:
openbb.stocks.fa.shrs(symbol = 'KNSL', holder = 'institutional')

,Holder,Shares,Date Reported,Stake,Value
0,Blackrock Inc.,2.474 M,2022-12-30,10.68 %,832.963 M
1,"Vanguard Group, Inc. (The)",2.207 M,2022-12-30,9.53 %,743.133 M
2,BAMCO Inc.,2.077 M,2022-12-30,8.97 %,699.431 M
3,Thrivent Financial For Lutherans,845.097 K,2022-12-30,3.65 %,284.578 M
4,State Street Corporation,723.651 K,2022-12-30,3.13 %,243.682 M
5,Geneva Capital Management LLC,545.512 K,2022-12-30,2.36 %,183.696 M
6,JP Morgan Chase & Company,497.722 K,2022-12-30,2.15 %,167.603 M
7,Macquarie Group Limited,472.628 K,2022-12-30,2.04 %,159.153 M
8,Morgan Stanley,450.657 K,2022-12-30,1.95 %,151.754 M
9,"Geode Capital Management, LLC",442.255 K,2022-12-30,1.91 %,148.925 M

In [32]:
openbb.stocks.fa.balance(symbol = 'KNSL', ratios=True)

,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Breakdown,,,,
Total assets,0.356165,0.309497,0.418455,0.0
Total liabilities,0.509193,0.366413,0.417702,0.0
Common stock,0.013158,0.000000,0.027027,0.0
Retained earnings,0.381350,0.586182,0.493546,0.0
Accumulated other comprehensive income,-8.443752,-0.561986,2.061104,0.0
Total stockholders' equity,0.065940,0.213622,0.419725,0.0
Total liabilities and stockholders' equity,0.356165,0.309497,0.418455,0.0

In [33]:
openbb.stocks.fa.income(symbol = 'KNSL', ratios=True)

,ttm,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Breakdown,,,,,
Total revenue,0.0,0.280442,0.391169,0.455851,0.0
Interest expense,0.0,0.000000,0.000000,0.000000,0.0
Total other income/expenses net,0.0,2.287736,-0.665615,23.384615,0.0
Income before tax,0.0,0.035821,0.880245,0.320338,0.0
Income tax expense,0.0,0.008522,2.013340,-0.058186,0.0
Income from continuing operations,0.0,0.042284,0.726541,0.396472,0.0
Net income,0.0,0.042284,0.726541,0.396472,0.0
Net income available to common shareholders,0.0,0.042284,0.726541,0.396472,0.0
Basic EPS,0.0,0.035661,0.699495,0.346939,0.0
Diluted EPS,0.0,0.039275,0.710594,0.353147,0.0
Basic average shares,0.0,0.005376,0.016757,0.036743,0.0
Diluted average shares,0.0,0.002732,0.009190,0.032346,0.0